
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(120deg, #84fab0, #8fd3f4);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  animation: gradientShift 10s ease infinite;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.card {
  background: rgb(237, 245, 238);
  padding: 35px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

h2 {
  margin-bottom: 20px;
  color: #2c13eb;
  font-size: 24px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: border 0.3s ease;
}

input:focus {
  border: 2px solid #667eea;
  outline: none;
}

button {
  width: 200px;          
  margin: 12px auto 12px;   
  display: block;        
  padding: 12px;
  border: none;
  border-radius: 80px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: background 0.3s ease, transform 0.2s ease;
}

button.signup { background: #667eea; color: white; }
button.signup:hover { background: #5a67d8; transform: scale(1.05); }

button.login { background: #48bb78; color: white; }
button.login:hover { background: #38a169; transform: scale(1.05); }

button.logout { background: #e53e3e; color: white; }
button.logout:hover { background: #c53030; transform: scale(1.05); }

#result {
  margin-top: 15px;
  padding: 70px;
  background: rgb(237, 245, 238);
  border-radius: 50px;
  font-size: 40px;
font-style: italic;
  color: #e812ec;
  min-height: 100px;
  opacity: 0;
  transition: opacity 0.5s ease;
  margin-bottom: 50px;
 text-align: center;
 text-shadow: 1px 1px 3px;
line-height: 2;
}

#result.show {
  opacity: 1;
}


.message {
  padding: 10px 15px;
  border-radius: 20px;
  margin-top: 10px;
  text-align: center;
  font-weight: 500;      
  font-size: 14px;       
  display: none;
}


.message.success {
  background-color: #e6f4ea; 
  color: #2e7d32;             
}


.message.error {
  background-color: #fdecea;  
  color: #c62828;            
}
